<!DOCTYPE html>
<html>
<head>
  <title>FishMash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash[:errors].blank? %>
  <!-- Errors container -->
  <div class="alert alert-error" role="alert">
    <%= raw flash[:errors] %>
  </div>
<% end %>
<% unless @errors.blank? %>
  <div class="alert alert-error" role="alert">
    <%= raw @errors %>
  </div>
<% end %>

<% unless flash[:success].blank? %>
  <!-- Success messages container -->
  <div class="alert alert-success" role="alert">
    <%= raw flash[:success] %>
  </div>
<% end %>
<% unless @success.blank? %>
  <div class="alert alert-success" role="alert">
    <%= raw @success %>
  </div>
<% end %>

<div class="col-md-12 fish-nav">
  <ul>
    <li>about</li>
    <% if !is_user_logged_in? %>
      <li><%= link_to 'login', login_users_path %></li>
    <% else %>
      <li><%= link_to 'logout', logout_users_path %></li>
      <li><%= link_to 'exams', exams_path %></li>
    <% end %>
    <li class="fish-nav-logo">
      <%= link_to raw(image_tag "logo_fff.svg"), root_url %>
    </li>
    <% if !is_user_logged_in? %>
      <li><%= link_to 'register', register_users_path %></li>
    <% else %>
      <li><%= link_to 'word lists', wordlists_path %></li>
      <li><%= link_to 'profile', profile_users_path %></li>
    <% end %>
    <li>contact</li>
  </ul>
</div>
<div class="col-md-12 fish-desc">
  CODED AND DESIGNED BY: <span style="color: #2b2b2b">TEN GUYS ONE CODE</span>
</div>

<div>
  <%= yield %>
</div>

</body>
</html>
