<div class="col-md-12 fish-index-1">

  <div class="col-md-5"></div>
  <div class="col-md-7">
    <h1>Learn languages faster and more effectively!</h1>
    <p>
      Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. 
    </p>
  </div>

</div>

<div class="col-md-12 fish-index-2">
  <div class="col-md-4 fish-tab">
    <div>
      <%= image_tag 'icon/appstore.png'%>
      <h1>Student</h1>
      <p>
        Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. 
      </p>
    </div>
  </div>
  <div class="col-md-4 fish-tab">
    <div>
      <%= image_tag 'icon/contacts.png'%>
      <h1>Teacher</h1>
      <p>
        Lorem ipsum dolor sit enim. Suspendisse a pellentesque dui, non felis. 
      </p>
    </div>
  </div>
  <div class="col-md-4 fish-tab">
    <div>
      <%= image_tag 'icon/app_draw.png'%>
      <h1>Schools</h1>
      <p>
        Lorem amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. 
      </p>
    </div>
  </div>
</div>

<div class="col-md-3"></div>
<div class="col-md-6 fish-index-3">
  <h1>Something about multi-platform</h1>
  <%= image_tag 'logo_wide.svg'%>
  <p>
    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi.
  </p>
</div>
<div class="col-md-3"></div>

<div class="col-md-12 fish-footer">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= image_tag 'logo_fff.svg', :style => 'width: 80%' %>
  </div>
  <div class="col-md-3 fish-footer-content">
    <ul>
      <li>footer link 1</li>
      <li>link 2</li>
      <li>facebook maybe</li>
    </ul>
  </div>
  <div class="col-md-3 fish-footer-content">
    <ul>
      <li>twitter maybe</li>
      <li>contact</li>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>
