<div class="col-md-12 fish-index-1">

  <div class="col-md-5"></div>
  <div class="col-md-7">
    <h1>Learn languages faster and more effectively!</h1>
    <p>
      You can DO IT! With FishMash you can boost your language learning effectivity. <br> As a teacher you can simplify teaching process and make carryng out the tests easier.
    </p>
  </div>

</div>

<div class="col-md-12 fish-index-2">
  <div class="col-md-4 fish-tab">
    <div>
      <%= image_tag "icon/appstore.png"%>
      <h1>Student</h1>
      <p>
        Learn and solve tests from any device including Macs and PCs as well as Android and Windows Phone powered devices.
      </p>
    </div>
  </div>
  <div class="col-md-4 fish-tab">
    <div>
      <%= image_tag "icon/contacts.png"%>
      <h1>Teacher</h1>
      <p>
        Sharing vocabulary has never been easier. 
      </p>
    </div>
  </div>
  <div class="col-md-4 fish-tab">
    <div>
      <%= image_tag "icon/app_draw.png"%>
      <h1>Schools</h1>
      <p>
        Bring your institution to the 21st century with FishMash and bring some fun for your students.
      </p>
    </div>
  </div>
</div>

<div class="col-md-3"></div>
<div class="col-md-6 fish-index-3">
  <h1>FishMash is multi-platform</h1>
  <%= image_tag "logo_wide.svg"%>
  <p>
    FishMash enables students to learn and solve exams from any place in any time using any device. And one more thing, it is absolutely free. Check Google Play, Appstore and Windows Store and download the mobile apps. 
  </p>
</div>
<div class="col-md-3"></div>

<div class="col-md-12 fish-footer">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= image_tag "logo_fff.svg", :style => 'width: 80%' %>
  </div>
  <div class="col-md-3 fish-footer-content">
    <ul>
      <li>footer link 1</li>
      <li>link 2</li>
      <li>facebook maybe</li>
    </ul>
  </div>
  <div class="col-md-3 fish-footer-content">
    <ul>
      <li>twitter maybe</li>
      <li>contact</li>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>
