<h1>Word lists</h1>
<p>
  <%= link_to "Create a new list", new_wordlist_path %>
</p>
<p>
  <table>
    <tr>
  	 <th>List name</th>
  	 <th>Description</th>
  	 <th>Main language</th>
  	 <th>Foreign language</th>
    </tr>
    <% @lists.each do |list| %>
    	<tr>
    	  <td><%= link_to list.name, wordlist_path(list) %></td>
    	  <td><em><%= list.description %></em></td>
    	  <td><%= output_language list.main_language %></em></td>
    	  <td><%= output_language list.foreign_language %></td>
    	</tr>
    <% end %>
  </table>
</p>
