<div class="col-md-12" style="height: 75px;"></div>
<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="fish-button-bar">
    <%= link_to "Create a new list", new_wordlist_path, :class => 'button-link' %>
    <button type="button" id="create-exam">Create an exam</button>
  </div>
  <table>
    <tr class="fish-table-header">
  	 <td>List name</td>
  	 <td>Description</td>
  	 <td>Main language</td>
  	 <td>Foreign language</td>
     <td></td>
     <td></td>
    </tr>
    <% @lists.each do |list| %>
    	<tr>
    	  <td><%= link_to list.name, wordlist_path(list) %></td>
    	  <td><em><%= list.description %></em></td>
    	  <td><%= output_language list.main_language %></em></td>
    	  <td><%= output_language list.foreign_language %></td>
        <td><%= link_to "Edit list", edit_wordlist_path(list) %></td>
        <td><%= link_to "Delete list", wordlist_path(list), method: :delete, data: { confirm: 'Are you sure that you really want to delete this list?' } %></td>
    	</tr>
    <% end %>
  </table>
  <br>
</div>
<div class="col-md-3"></div>

<%= javascript_include_tag 'exams', 'data-turbolinks-track' => true %>
