<h1>All lists</h1>
<table>
  <tr>
	 <th>List name</th>
	 <th>Description</th>
	 <th>Main language</th>
	 <th>Foreign language</th>
  </tr>
<%= @lists.each do |list| %>
	<tr>
	  <td><%= list.name %></td> 
	  <td><%= list.description %></td>  
	  <td><%= list.main_language %></td> 
	  <td><%= list.foreign_language %></td> 
	</tr>
<% end %>
</table>