<h1><%= @user.login %> profile</h1>

<h2>Change password</h2>
<%= form_for :user, url: user_set_password_path(@user) do |f| %>
  <div class="form-group">
    <%= f.label "Old password" %>
    <%= f.password_field :password_old %>
  </div>
  <div class="form-group">
    <%= f.label "New password" %>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label "Confirm new password" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form-group">
    <%= f.submit "Change password" %>
  </div>
<% end %>
