<div class="col-md-12" style="height: 75px;"></div>
<div class="col-md-3"></div>
<div class="col-md-6 fish-exam-form">
    <h1 class="fish-h1">New exam</h1>
    <%= form_for :exam, url: exams_path, action: :create do |f| %>
      <p>
        <%= f.text_field :name, placeholder: "Enter the exam name" %>
      </p>
      <p>
        <%= f.text_area :description, placeholder: "Shortly describe the content of this exam..." %>
      </p>
      <div class="col-md-6">
      <p>
         <%= f.text_field :date_practice_start, placeholder: "Start date of practice", id: 'practice-date-start', :class => 'datepicker' %>
      </p>
      <p>
        <%= f.text_field :date_practice_finish, placeholder: "Finish date of practice", id: 'practice-date-finish', :class => 'datepicker' %>
      </p>
      <p>
        <%= f.text_field :date_exam_start, placeholder: "Start date of exam", id: 'exam-date-start', :class => 'datepicker' %>
      </p>
      <p>
        <%= f.text_field :date_exam_finish, placeholder: "Finish date of exam", id: 'exam-date-finish', :class => 'datepicker' %>
      </p>
      <p>
        <%= f.text_field :word_count, placeholder: "Word count", id: 'word-count' %>
      </p>
      <!--<p>-->
        <%= f.hidden_field :time_limit, placeholder: 'Time limit (in minutes)', id: 'time-imit', value: '0' %>
      <!--</p>-->
      </div>
      <div class="col-md-6">
      <p>
        <%= f.select :word_list_id, @lists.collect { |wordlist| [wordlist.name, wordlist.id] }, {}, multiple: true %>
      </p>
      <p>
        <%= f.select :student_class_id, @student_classes.collect { |student_class| [student_class.name, student_class.id] }, {}, multiple: true %>
      </p>
      </div>
      <div class="col-md-12">
        <%= f.submit "Create an exam", :class => 'button-link' %>
        <%= link_to  'Return', exams_path, :class => 'button-link'%>
      </div>
    <% end %>
    <%= javascript_include_tag 'exams', 'data-turbolinks-track' => true %>
</div>
<div class="col-md-3"></div>

<div class="col-md-12" style="height: 75px;"></div>
